<!DOCTYPE html>
<html lang="fr">

<head>
    <title> > Sandbox.io</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/joining.css">
    <script type="module" src="assets/js/joining.js"></script>
</head>

<body>
    <h1>Sandbox.io</h1>

    <form action="/createRoom" method="POST">
        <div id="create-info"></div>
        <div>
            <label for="name">Room name</label>
            <input type="text" class="create-input" id="name" name="name">
        </div>
        <div>
            <label for="motd">Room MOTD</label>
            <input type="text" class="create-input" id="motd" name="motd">
        </div>
        <div>
            <label for="size">Room Size</label>
            <input type="number" class="create-input" id="size" name="size">
        </div>
        
        <button type="submit" id="create-submit">Create room</button>
    </form>

    <form action="/room" method="GET">
        <div>
            <label for="UID">Room UID</label>
            <input type="text" id="UID" name="UID">
        </div>

        <button type="submit" id="join-submit">Join room</button>
    </form>

    <button id="join-refresh">Refresh</button>

    <% for(room of rooms) { %>

        <!--TODO : faire un truc bo :) -->

        <div id="<%= room.UID %>" class="joinRoom-room"><%= room.name %> | <%= room.motd %> | <%= room.clientsCount %>/<%= room.size %></div>
    <% } %>
</body>