<!DOCTYPE html>
<html lang="fr">

<head>
    <title> Joining > Sandbox.io</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/joining.css">
    <script type="module" src="assets/js/Sandbox.io.client.js"></script>

    <!--TODO passer les scripts en local pas en cdn-->
    <!--<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">-->
    <!--<script src="//cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>-->

</head>

<body>
    <h1>Sandbox.io</h1>

    <form action="/createRoom" method="POST" class="RoomForm">
        <div id="create-info"></div>
        <div>
            <label for="name">Room name</label>
            <input type="text" class="create-input" id="name" name="name">
        </div>
        <div>
            <label for="motd">Room MOTD</label>
            <input type="text" class="create-input" id="motd" name="motd">
        </div>
        <div>
            <label for="size">Room Size</label>
            <input type="number" class="create-input" id="size" name="size">
            <button type="submit" class="Submitbutton" id="create-submit">Create room</button>
        </div>


    </form>

    <form action="/room" method="GET" class="RoomForm">
        <div>
            <label for="UID">Room UID</label>
            <input type="text" id="UID" name="UID">
            <button type="submit" class="Submitbutton" id="join-submit">Join room</button>

        </div>
    </form>

    <button id="join-refresh" class="joinButton">Refresh</button>

    <ul>
        <% for(room of rooms) { %>

        <!--TODO : faire un truc bo :) -->
        
            <li id="<%= room.UID %>" class="joinRoom-room"><%= room.name %> | <%= room.MOTD %> |
                <%= room.clientsCount %>/<%= room.size %></li>

        <% } %>
    </ul>
</body>