<!DOCTYPE html>
<html lang="fr">

<head>
    <style>
        html {
            background-color: black;
        }

        .Submitbutton,
        .joinButton {
            background-color: wheat;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        .roomClick {
            background-color: transparent;
            border: none;
            color: salmon;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        .Submitbutton,
        .joinButton:hover {
            box-shadow: 5px 10px 18px 0 rgba(236, 168, 9, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        #infoText {
            margin: 0.3em;
            color: salmon;

        }

        #RoomForm {
            text-align: center;
            margin: 0.4em;
            color: salmon;
            font-size: x-large;
            font-family: Arial, Helvetica, sans-serif;
            list-style-type: none;
        }

        #listeRoom {
            margin: 0.4em;
            color: salmon;
            font-size: x-large;
            font-family: Arial, Helvetica, sans-serif;
            list-style-type: none;

        }

        #joinRoom {
            text-align: center;
        }

        #create-info {
            text-align: center;
        }

        h1 {
            color: sandybrown;
            text-align: center;
            font-size: 5em;
        }

        ul {
            list-style: none;
            text-align: center;
            padding-left: 15em;
        }

        li {
           
            margin-bottom:15px;/* à adapter */
            color: salmon;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        input[type=text],
        input[type=number],
        select {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
        }
    </style>

    <title> > Sandbox.io</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/css/joining.css">
    <script type="module" src="assets/js/joining.js"></script>
    <!--TODO passer les scripts en local pas en cdn-->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>

</head>

<body>
    <h1>Sandbox.io</h1>

    <form action="/createRoom" method="POST" class="RoomForm">
        <div id="create-info"></div>
        <div>
            <label for="name">Room name</label>
            <input type="text" class="create-input" id="name" name="name">
        </div>
        <div>
            <label for="MOTD">Room MOTD</label>
            <input type="text" class="create-input" id="MOTD" name="MOTD">
        </div>
        <div>
            <label for="size">Room Size</label>
            <input type="number" class="create-input" id="size" name="size">
            <button type="submit" class="Submitbutton" id="create-submit">Create room</button>
        </div>
    </form>

    <form action="/room" method="GET" class="RoomForm">
        <div>
            <label for="UID">Room UID</label>
            <input type="text" id="UID" name="UID">
            <button type="submit" class="Submitbutton" id="join-submit">Join room</button>

        </div>
    </form>

    <button id="join-refresh" class="joinButton">Refresh</button>

    <ul>
        <% for(room of rooms) { %>

        <!--TODO : faire un truc bo :) -->
        
            <li id="<%= room.UID %>" class="joinRoom-room"><%= room.name %> | <%= room.MOTD %> |
                <%= room.clientsCount %>/<%= room.size %></li>

        <% } %>
    </ul>
</body>